@{
    ViewData["Title"] = "Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eventos</h1>
<hr />
<div class="idx_button-container">
    <div class="idx_button">
        <a asp-action="Create"> <h5>¡Quiero crear un evento!</h5> </a>
    </div>

    <div class="idx_button">
        <a asp-action="List"> <h5>Lista de eventos</h5> </a>
    </div>

</div>




