@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="text-center">Eventos</h1>

    <div class="d-flex flex-lg-wrap">
        <div style="width: 300px;" class="border border-secondary rounded   m-2">
            <img style="width: 100%;" class="d-block m-auto"  src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F380073589%2F216685717227%2F1%2Foriginal.20220816-152308?w=940&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C70%2C1080%2C540&s=14b966a45fdb6bdff871d4d44d6a1ccf" />
            <div class="p-2">
                <h5 class="mt-1">Nombre del evento</h5>
                <time datetime="2022-10-31">Lunes, 31 de Nov, 7:00PM </time>
                <p>Mr Jones Blues Pub • Ramos Mejía, Buenos Aires</p>
                <span>Gratis</span>
            </div>
        </div>

    </div>

</div>
</div>
