@model IEnumerable<tocatu.Models.Bar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bares</h1>
<hr />
<div class="idx_button-container">
    <div class="idx_button">
        <a asp-action="Create">Crear nuevo <strong>Bar</strong></a>
    </div>

    <div class="idx_button">
        <a asp-action="List">Ver bares creados</a>
    </div>

</div>

