@model IEnumerable<tocatu.Models.Bar>

@{
    ViewData["Title"] = "Bares";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bares</h1>
<hr />
<div class="idx_button-container">
    <div class="idx_button">
        <a asp-action="Create"><h5>¡Quiero registrar mi bar!</h5> </a>
    </div>

    <div class="idx_button">
        <a asp-action="List"> <h5>Ver los bares registrados</h5> </a>
    </div>

</div>

