

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bandas</h1>
<hr />
<div class="idx_button-container">
    <div class="idx_button">
        <a asp-action="Create">Crear nueva <strong>Banda</strong></a>
    </div>

    <div class="idx_button">
        <a asp-action="List">Ver lista de bandas</a>
    </div>

</div>

