

@{
    ViewData["Title"] = "Bandas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Bandas</h1>
<hr />
<div class="idx_button-container">
    <div class="idx_button">
        <a asp-action="Create"><h5>¡Quiero registrar mi banda!</h5></a>
    </div>

    <div class="idx_button">
        <a asp-action="List"> <h5>Ver la lista de bandas</h5></a>
    </div>

</div>

